NODE_ENV=production
HOSTNAME=0.0.0.0
PORT=3000

# install.sh will auto-derive an sslip.io base domain from the server IP on first run
# if you do not set these yourself, for example 10-0-0-5.sslip.io.
VERCELAB_BASE_DOMAIN=10-0-0-5.sslip.io
VERCELAB_ADMIN_HOST=vercelab.10-0-0-5.sslip.io

VERCELAB_PROXY_NETWORK=vercelab_proxy
VERCELAB_PROXY_ENTRYPOINT=websecure

VERCELAB_HOST_ROOT=/opt/vercelab
VERCELAB_DATA_ROOT=/opt/vercelab/data
VERCELAB_TRAEFIK_DYNAMIC_DIR=/opt/vercelab/traefik/dynamic
VERCELAB_TRAEFIK_CERTS_DIR=/opt/vercelab/traefik/certs
VERCELAB_APPS_DIR=/opt/vercelab/data/apps
VERCELAB_LOGS_DIR=/opt/vercelab/data/logs
VERCELAB_LOCKS_DIR=/opt/vercelab/data/locks
VERCELAB_DATABASE_PATH=/opt/vercelab/data/db/vercelab.sqlite
VERCELAB_DOCKER_SOCKET_PATH=/var/run/docker.sock

VERCELAB_DATABASE_PROVIDER=sqlite
VERCELAB_POSTGRES_URL=

VERCELAB_ENCRYPTION_SECRET=replace-me-with-a-random-secret