# Build outputs
.next
out
build
dist

# Dependencies
node_modules
.playwright-cli
output/playwright

# Logs
*.log

# Environment files
.env*

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Data
data

# Misc
*.min.js
*.min.css
